In [5]:
import pandas as pd
import datetime as dt

In [4]:
# The path to our CSV file
file = "Resources/GlobalTemperatures.csv"

# Read our global land and ocean temperature data into pandas
df = pd.read_csv(file)

df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Convert dt field to datetime and delete records before 1900
df['dt'] = pd.to_datetime(df['dt'])
gt_df = df[(df['dt'].dt.year >= 1900)]

gt_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1800,1900-01-01,1.461,0.276,7.193,0.465,-4.102,0.395,13.142,0.142
1801,1900-02-01,3.098,0.416,9.181,0.604,-2.814,0.626,13.777,0.173
1802,1900-03-01,5.492,0.261,11.377,0.327,-0.680,0.610,14.400,0.141
1803,1900-04-01,8.223,0.292,13.972,0.342,2.131,0.394,15.170,0.151
1804,1900-05-01,11.385,0.357,17.415,0.329,5.179,0.379,15.955,0.159

In [10]:
# Assign columns more manageable names
gt_df.rename(columns={'dt': 'Date', 'LandAverageTemperature': 'LandAvgTemp',\
    'LandAverageTemperatureUncertainty': 'LandAvgUncert', 'LandMaxTemperature': 'LandMaxTemp',\
    'LandMaxTemperatureUncertainty': 'LandMaxUncert', 'LandMinTemperature': 'LandMinTemp',\
    'LandMinTemperatureUncertainty': 'LandMinUncert', 'LandAndOceanAverageTemperature': 'LandOceanAvgTemp',\
    'LandAndOceanAverageTemperatureUncertainty': 'LandOceanUncert'}, inplace=True)

gt_df.head()

C:\Users\jcmho\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Date,LandAvgTemp,LandAvgUncert,LandMaxTemp,LandMaxUncert,LandMinTemp,LandMinUncert,LandOceanAvgTemp,LandOceanUncert
1800,1900-01-01,1.461,0.276,7.193,0.465,-4.102,0.395,13.142,0.142
1801,1900-02-01,3.098,0.416,9.181,0.604,-2.814,0.626,13.777,0.173
1802,1900-03-01,5.492,0.261,11.377,0.327,-0.680,0.610,14.400,0.141
1803,1900-04-01,8.223,0.292,13.972,0.342,2.131,0.394,15.170,0.151
1804,1900-05-01,11.385,0.357,17.415,0.329,5.179,0.379,15.955,0.159

In [12]:
# Drop any records without ocean temperature data
gt_df.dropna(subset=['LandOceanAvgTemp', 'LandOceanUncert'])

gt_df.head()

,Date,LandAvgTemp,LandAvgUncert,LandMaxTemp,LandMaxUncert,LandMinTemp,LandMinUncert,LandOceanAvgTemp,LandOceanUncert
1800,1900-01-01,1.461,0.276,7.193,0.465,-4.102,0.395,13.142,0.142
1801,1900-02-01,3.098,0.416,9.181,0.604,-2.814,0.626,13.777,0.173
1802,1900-03-01,5.492,0.261,11.377,0.327,-0.680,0.610,14.400,0.141
1803,1900-04-01,8.223,0.292,13.972,0.342,2.131,0.394,15.170,0.151
1804,1900-05-01,11.385,0.357,17.415,0.329,5.179,0.379,15.955,0.159

In [17]:
# Set date as index
gt_df.set_index('Date', inplace=True)

gt_df.head()

,LandAvgTemp,LandAvgUncert,LandMaxTemp,LandMaxUncert,LandMinTemp,LandMinUncert,LandOceanAvgTemp,LandOceanUncert
Date,,,,,,,,
1900-01-01,1.461,0.276,7.193,0.465,-4.102,0.395,13.142,0.142
1900-02-01,3.098,0.416,9.181,0.604,-2.814,0.626,13.777,0.173
1900-03-01,5.492,0.261,11.377,0.327,-0.680,0.610,14.400,0.141
1900-04-01,8.223,0.292,13.972,0.342,2.131,0.394,15.170,0.151
1900-05-01,11.385,0.357,17.415,0.329,5.179,0.379,15.955,0.159

In [18]:
gt_df.to_csv('./Resources/ocean_temps.csv')